.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: rgb(200, 171, 228);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem; 
}

.descriptionBox {
    border-bottom: 1px dashed darkmagenta;
    margin-bottom: .5rem;
    padding-bottom: .5rem;

}

.ticket__delete {
    margin-left: auto;
    background-color: salmon;
}